/* General Styles */
.bold {
    font-weight: 600;
    padding-left: 10px;
    padding-top: 5px;
}

/* GLOBAL footer styles */

#gmail {
    width: 40px;
    height: auto;
    margin-left: 30px;
    margin-top: -3px;
}

label {
    color: white;
    font-size: 28px;
    float: right;
    display: none;
}

#toggle {
    display: none;
}

.foot-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.bg-custom {
    background-color: rgba(7, 7, 7, 0.85);
}

/* HOME/INDEX styles */
.home .container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .jumbotron, .home .jumbotron-fluid {
    padding-bottom: 0;
    margin-bottom: 0;
    background: none;
}

.home .jumbotron img {
    border: 2px black solid;
    border-radius: 5px;
    visibility: hidden;
}

.home span {
    margin-left: 5px;
    font-size: 14px;
}

#home-bg {
    position: fixed;
    z-index: -1;
    top: -50%;
    left: -50%;
    min-width: 100%;
    min-height: 150%;
    opacity: 0.35;
}

#rndImgCap {
    background-color: white;
    border: 2px black solid;
    margin-top: 10px;
    border-radius: 5px;
    visibility: hidden;
}

/* ABOUT ME Styles */
.about-me .heading {
    text-align: center;
    margin-top: 50px;
}
.about-me .greeting {
    font-family: "Brush Script MT", cursive;
    font-size: 150px;
}

.about-me .subheading {
    margin-left: -30px;
    margin-top: 20px;
}

.about-me h4 {
    font-size: 36px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

.about-me .intro, .about-me .hobbies, .about-me .programming, .about-me .conclusion {
    border-bottom: 2px solid black;
    margin: auto 50px;
}

.about-me .conclusion {
    border-bottom: none;
}

.about-me .container {
    border: groove 10px grey;
    padding-left: 0;
}

.about-me p {
    font-family: Lato, sans-serif;
}

.about-me .jumbotron {
    background-color: rgba(208, 209, 23, 0.8);
}

#ab-bg {
    background-color: rgba(0, 26, 206, 0.5);
    border: none;
    transform: skewX(30deg);
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* RESUME styles */
.download {
    margin-top: 75px;
}

.btn {
    border: 4px solid black;
    font-weight: bold;

}

.btn:hover {
    border: 4px solid black;
    background-color: rgb(27, 27, 28);
}

.university, .self, .experience {
    border: solid 4px;
    border-radius: 20px;
    display: inline;
}

.university {
    position: relative;
    top: 40px;
    left: 40px;
    border-color: #000000; /* darker blue */
    background-color: rgba(66, 121, 209, 0.8); /* light blue */
}

.self {
    position: relative;
    right: 40px;
    border-color: #000000;
    background-color: rgba(208, 239, 52, 0.8);
}

.experience {
    position: relative;
    top: -40px;
    left: 100px;
    border-color: #000000;
    background-color: rgba(66, 121, 209, 0.8);
}

#resume-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;
    opacity: 0.7;
}

/* PERSONAL PROJECTS styles */
.personal-projects {
    margin-top: 75px;
}

.personal-projects .carousel {
    background-color: black;
}

.personal-projects .carousel img {
    height: auto;
    width: auto;
    object-fit: contain;
    max-width: 80vw;
    max-height: 80vh;
}

.personal-projects .carousel-caption {
    background-color: rgba(25, 25, 25, 0.75);
    border-radius: 5px;
    padding: 10px 20px;
    border-image-slice: 133 196 153 166 fill;
    border-image-width: 30px 30px 30px 30px;
    border-image-outset: 15px 14px 15px 16px;
    border-image-repeat: stretch stretch;
    border-image-source: url("images/border-1.png");
}

.personal-projects .row-border {
    font-family: Lato, sans-serif;
    margin: 150px auto;
    background-color: rgba(208, 209, 93, 0.8);
    border-radius: 5px;
    border-image-slice: 292 96 292 66 fill;
    border-image-width: 75px 30px 75px 30px;
    border-image-outset: 45px 30px 45px 30px;
    border-image-repeat: round stretch;
    border-image-source: url("images/border-4.png");
}

.personal-projects .col-sm-12 {
    padding: 35px 40px;
    text-align: center;
}

.personal-projects .col-sm-12 h1 {
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
    font-size: 56px;
    text-decoration: underline;
}

.personal-projects .col-sm-12 h3 {
    font-weight: 600;
    font-style: italic;
    font-size: 26px;
}

.personal-projects .col-sm-12 p {
    padding-top: 20px;
    text-align: left;
}

#no-images {
    font-size: 100px;
    text-decoration: none;
    font-family: Papyrus, Arial;
}

#pp-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    label {
        display: inline-block;
        float: right;
        cursor: pointer;
    }

    .navbar {
        justify-content: flex-start !important;
    }

    .navbar-nav {
        text-align: center;
        width: 100%;
        display: none;
    }
    .navbar-nav a {
        clear: right;
        display: block;
        border-bottom: 1px solid red;
        margin: 0;
    }
    #toggle:checked + .navbar-nav {
        display: block;
    }

    .home .jumbotron img {
        margin-top: 50px;
        width: 90vw;
        height: auto;
    }

    .about-me .intro, .about-me .hobbies, .about-me .programming, .about-me .conclusion {
        border-bottom: 2px solid black;
        margin: auto 20px;
    }
    #no-images {
        font-size: 50px;
    }

    .university, .self, .experience {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 25px 5px;
    }
}

@media (orientation: landscape) and (min-width: 1000px) {
    #pp-bg, #resume-bg {
        width: 100vw;
        height: auto;
    }

}
