/* General Styles */
.bold {
    font-weight: 600;
    padding-left: 10px;
    padding-top: 5px;
}

/* GLOBAL footer styles */
.footer-nav {
    display: table;
    margin: 0 auto;
}
.footer-nav li {
    display: inline-block;
    padding-left: 40px;
}
.gmail img{
    width: 40px;
    height: auto;
}

/* HOME/INDEX styles */
.home .container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .jumbotron, .home .jumbotron-fluid {
    padding-bottom: 0;
    margin-bottom: 0;
    background: none;
}

.home .jumbotron img {
    border: 2px black solid;
    border-radius: 5px;
}

.home span {
    margin-left: 5px;
    font-size: 14px;
}

#bg {
    position: fixed;
    z-index: -1;
    top: -50%;
    left: -50%;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
}

/* ABOUT ME Styles */

/* RESUME styles */
.download {
    margin-top: 75px;
}

.btn {
    border: 3px solid;
    font-weight: bold;
}

.university, .self, .experience {
    border: solid 4px;
    border-radius: 20px;
    display: inline;
}

.university {
    position: relative;
    top: 40px;
    left: 40px;
    border-color: #067199; /* darker blue */
    background-color: #14a9e0; /* light blue */
}

.self {
    position: relative;
    right: 40px;
    border-color: #bac607;
    background-color: #eeff02;
}

.experience {
    position: relative;
    top: -40px;
    left: 40px;
    border-color: #0bc142;
    background-color: #04f94e;
}

.resume .footer-nav {
    margin-top: 20px;
}

body.resume {
    background-color: #d8d0d0;
}

/* PERSONAL PROJECTS styles */
